<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gegenstand Hinzufügen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<form action="#" th:action="@{/Benutzer/addItem}" th:object="${artikel}" method="post">

    <body>
    <div align="center">
        <h1>Artikel hinzufügen</h1>
        <p>Name:</p>
        <ul><input type="text" th:field="*{artikelName}" required><br></ul>
        <p>Beschreibung:</p>
        <ul>
            <textarea id="test" cols="50" maxlength="255" type="text" th:field="*{beschreibung}"></textarea>
        </ul>
        <p>Abholort:</p>
        <ul><input type="number" th:field="*{standort}" required><br></ul>
        <p>Preis:</p>
        <ul><input type="text" th:field="*{preis}" required><br></ul>
        <p>Kaution:</p>
        <ul><input type="number" th:field="*{kaution}" required><br></ul>
        <p>Verfügbarkeitszeitraum:</p>
        <ul><input type="text" name="daterange" value="02/01/2018 - 05/31/2019" /></ul>

        <input type="hidden" th:field="*{id}">
        <input type="submit" value="Submit"/>
        <a href="/Benutzer/Items">Cancel</a>
    </div>

    <script type="text/javascript">
        function setHeight(fieldId){
            document.getElementById(fieldId).style.height = document.getElementById(fieldId).scrollHeight+'px';
        }
        setHeight('test');

        $(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });
    </script>
    </body>
</form>
</html>