<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.com">
<head>
	<meta charset="UTF-8">
	<title>The Awesome Chat</title>

	<link href="../static/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet" />
</head>
	<body>
		<div class="chat">
			<p>Hello. How are you today?</p>
			<span class="zeit-rechts">11:00</span>
		</div>
		<div class="chat">
			<p>Sweet! So, what do you wanna do today?</p>
			<span class="zeit-rechts">11:02</span>
		</div>
		<div class="chat dunkler">
			<p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
			<span class="zeit-links">11:05</span>
		</div>
		<div class="chat">
			<p>Hi</p>
			<span class="zeit-rechts">11:02</span>
		</div>
		<div class="chat dunkler">
			<p>Hey</p>
			<span class="zeit-links">11:05</span>
		</div>
		<div class="chat" th:each="nachricht: ${nachrichten}">
			<div th:if="${name == nachricht.absender}">
				<div class="chat dunkler">
					<p th:text="${nachricht.nachricht}"></p>
					<span class="zeit-links" th:text="${nachricht.gesendet.dateToString()}">Datum</span>
				</div>
			</div>
		</div>
		<form method="post" th:object="nachricht">
			<div class="type">
				<textarea class="autoExpand" cols="50" maxlength="255" type="text" th:field="*{nachricht}" placeholder="Nachricht"></textarea>
				<input type="hidden" th:field="*{teilnehmer}">
				<button type="submit" value="submit" class="btn btn-outline-success"></button>
			</div>
		</form>

		<script>
			window.onresize = function(){
				window.resizeTo(425, 500);
			}
			window.onclick = function(){
				window.resizeTo(425, 500);
			}
		</script>
	</body>
</html>