<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.com">
<head>
	<meta charset="UTF-8">
	<title>The Awesome Chat</title>

	<link href="../static/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet" />
</head>
	<body>
		<div th:each="nachricht: ${nachrichten}">
			<div th:if="${name} eq ${nachricht.absender.personName}" class="chat dunkler">
				<span class="name" th:text="${nachricht.absender.personName}">TEst</span>
				<p th:text="${nachricht.chat}"></p>
				<span class="zeit-links" th:text="${nachricht.dateToString()}"></span>
			</div>
			<div th:unless="${name} eq ${nachricht.absender.personName}" class="chat">
				<p class="name" th:text="${nachricht.absender.personName}"></p>
				<p th:text="${nachricht.chat}"></p>
				<span class="zeit-rechts" th:text="${nachricht.dateToString()}">Datum</span>
			</div>
		</div>
		<form method="post" th:object="${nachricht}">
			<div class="type">
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{absender}">
				<input type="hidden" th:field="*{session}">
				<input type="hidden" th:field="*{gesendet}">
				<input class="autoExpand" cols="50" maxlength="255" style="width: 100%" type="text" th:field="*{chat}" placeholder="Nachricht" tabindex="+1">
				<a th:href="@{/__${teilnehmer}__}">
					<button name="button" class="btn btn-outline-danger" value="submit" tabindex="-1">Senden</button>
				</a>
			</div>
		</form>

		<script>
			window.onresize = function(){
				window.resizeTo(425, 500);
			}
			window.onclick = function(){
				window.resizeTo(425, 500);
			}
		</script>
	</body>
</html>