.bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #43464b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.bar a{
    padding: 4px 4px 4px 4px;
    color: #f0f0f0;
    display: block;
    transition: 0.3s;
}

.bar a:hover{
    color: #ff7677;
}

.bar .schliessen{
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 10px;
}

.schliessen:hover{
    background-color: #ffffff;
    color: black;
}