<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gegenstand Hinzufügen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>
<form action="#" th:action="@{/Benutzer/addItem}" th:object="${artikel}" method="post">

    <body>
    <div align="center">
        <h1>Artikel hinzufügen</h1>
        <p>Name:</p>
        <input type="text" th:field="*{artikelName}" placeholder="Artikelname" required><br>
        <p>Beschreibung:</p>
        <textarea class="autoExpand" cols="50" maxlength="255" type="text" th:field="*{beschreibung}" placeholder="Beschreibung" }></textarea>
        <p>Abholort:</p>
        <input type="text" th:field="*{standort}" placeholder="Abholort" required /><br>
        <p>Preis:</p>
        <input type="number" th:field="*{preis}" placeholder="Preis" required /><br>
        <p>Kaution:</p>
        <input type="number" th:field="*{kaution}" placeholder="Kaution" required /><br>
        <p>Verfügbarkeitszeitraum:</p>
        <input id="date" type="text" name="daterange" value="" /> <br>

        <input type="hidden" th:field="*{id}">
        <input type="submit" value="Submit"/>
        <a href="/Benutzer/Items">Cancel</a>
    </div>

    <script type="text/javascript">
        $(document)
            .one('focus.autoExpand', 'textarea.autoExpand', function(){
                var savedValue = this.value;
                this.value = '';
                this.baseScrollHeight = this.scrollHeight;
                this.value = savedValue;
            })
            .on('input.autoExpand', 'textarea.autoExpand', function(){
                var minRows = this.getAttribute('data-min-rows')|0, rows;
                this.rows = minRows;
                rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 16);
                this.rows = minRows + rows;
            });

        $(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });
    </script>
    </body>
</form>
</html>
