<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutUnangemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Anmeldung</title>
</head>

<body>
<h1 layout:fragment="titel">Bitte geben Sie Ihre Daten ein:</h1>
<div layout:fragment="inhalt">
	<form method="post">
		<table>
			<div th:if="${param.error}" class="alert alert-error">
				Ungültiger Benutzername oder ungültiges Passwort!
			</div>
			<div th:if="${param.logout}" class="alert alert-success">
				Auf Wiedersehen!
			</div>
			<tr>
				<td>Benutzername:</td>
				<td><input type="text" class="form-control" name="username"></td>
			</tr>
			<tr>
				<td>Passwort:</td>
				<td><input type="password" class="form-control" name="password"></td>
			</tr>
		</table>
		<br>
		<button type="submit" class="btn btn-outline-success">Bestätigen</button>
	</form>
</div>
</body>
</html>