<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutUnangemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Anmeldung</title>
</head>

<body>
<div layout:fragment="inhalt">


	<div class="card text-center">
		<h5 class="card-header">
			Bitte geben Sie Ihre Daten ein:
		</h5>
		<div class="card-body">
			<form method="post">
				<div class="col-md-12" align="center">
					<table>
						<div th:if="${param.error}" class="alert alert-danger">
							Ungültiger Benutzername oder ungültiges Passwort!
						</div>
						<div th:if="${param.logout}" class="alert alert-success">
							Auf Wiedersehen!
						</div>
						<tr>
							<td>Benutzername:</td>
							<td><input type="text" class="form-control" name="username"></td>
						</tr>
						<tr>
							<td>Passwort:</td>
							<td><input type="password" class="form-control" name="password"></td>
						</tr>
					</table>
				</div>
				<br>
				<button type="submit" class="btn btn-outline-success">Bestätigen</button>
			</form>
		</div>
	</div>

</div>
</body>
</html>