<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Details</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href='/'>Leih24</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href='/'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <div th:if="${disableThirdButton}">
                    <a class="nav-link" href='/login'>
                        Anmelden
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div th:if="${disableThirdButton}">
                    <a class="nav-link" href='/registrierung'>
                        Registieren
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div th:if="${disableSecondButton}">
                    <a class="nav-link" th:href="@{/account/{benutzername} (benutzername=${name})}">
                        Profil
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div th:if="${disableSecondButton}">
                    <a class="nav-link" href='/logout'>
                        Logout
                    </a>
                </div>
            </li>
            <hr>
        </ul>
    </div>
</nav>


    <div class="col-md-12" align="center">
        <p th:text="'Artikelname: ' +${artikelDetail.artikelName}"></p>
        <p th:text="'Verleihername: ' +${artikelDetail.verleiherBenutzername}"></p>
        <p th:text="'Beschreibung: ' +${artikelDetail.beschreibung}"></p>
        <p th:text="'Standort: ' +${artikelDetail.standort}"></p>
        <p th:text="'Preis: ' +${artikelDetail.preis} + '&euro;'"></p>
        <p th:text="'Kaution: ' +${artikelDetail.kaution} + '&euro;'"></p>
        <p th:text="'Verfügbar von: ' +${artikelDetail.verfuegbarkeit.startDate}"></p>
        <p th:text="'Verfügbar bis: ' +${artikelDetail.verfuegbarkeit.endDate}"></p>
        <a href='/'>
        <button type="button" class="btn btn-outline-danger" >Zurück</button>
        </a>
        <a th:href="@{/artikel/{id}/anfrage (id=${artikelDetail.id})}">
            <button type="button" class="btn btn-outline-success">Ausleihen</button>
        </a>
    </div>

</body>
</html>
