<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutAngemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Ausleihenübersicht</title>
</head>

<body>
<h1 layout:fragment="titel">Offene Anfragen:</h1>
<div layout:fragment="inhalt" th:each="ausleihe : ${ausleihen}">
	<div th:if="${ausleihe.accepted==false}">
		<p th:text="|Name des Artikels: ${ausleihe.artikel.artikelName}|">Artikelname</p>
		<p th:text="|Ausleihender: ${ausleihe.ausleihender}|">Ausleihender</p>
		<p th:text="|Startdatum: ${ausleihe.verfuegbarkeit.startDate}|">Startdatum</p>
		<p th:text="|Enddatum: ${ausleihe.verfuegbarkeit.endDate}|">Enddatum</p>
		<a th:href="@{/account/{benutzername}/annahme/{id} (id=${ausleihe.id},benutzername=${name})}">
			<button name="button" class="btn btn-outline-success">Annehmen</button>
		</a>
		<a th:href="@{/account/{benutzername}/remove/{id} (id=${ausleihe.id},benutzername=${name})}">
			<button name="button" class="btn btn-outline-danger">Ablehnen</button>
		</a>
	</div>
</div>
<h1 layout:fragment="titel">Angenommene Anfragen:</h1>
<div layout:fragment="inhalt" th:each="ausleihe : ${ausleihen}">
	<div th:if=="${ausleihe.accepted}">
		<p th:text="|Name des Artikels: ${ausleihe.artikel.artikelName}|">Artikelname</p>
		<p th:text="|Ausleihender: ${ausleihe.ausleihender}|">Ausleihender</p>
		<p th:text="|Startdatum: ${ausleihe.verfuegbarkeit.startDate}|">Startdatum</p>
		<p th:text="|Enddatum: ${ausleihe.verfuegbarkeit.endDate}|">Enddatum</p>
	</div>
</div>
</body>
</html>
