<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anfrage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <style>
        #dateDiv{
            padding-top: 25px;
        }
    </style>

</head>

<form method="post">
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href='/'>Leih24</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href='/'>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/logout'>
                        Logout
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:text="'Für welchen Zeitraum möchten Sie den Artikel ausleihen?'"></a>
                </li>
                <hr>
            </ul>
        </div>
    </nav>

    <div align="center">
        <h2>Für welchen Zeitraum möchten sie den Artikel ausleihen?</h2>
        <input id="date" type="text" name="daterange" value="" min="#today"/> <br>
        <br>
        <br>
        <a href='/'>
            <button name="button" class="btn btn-outline-danger">Abbrechen</button>
        </a>
        <input type="hidden" th:field="*{id}">
        <input type="submit" value="Bestätigen" class="btn btn-outline-success" onclick="confirmation()"/>
    </div>
    <script  th:inline="javascript">
        $(function() {
            $('input[name="daterange"]').daterangepicker({
                "autoApply": true,
                minDate: 0,
                disabledDates: [moment('19/02/2019', 'DD/MM/YYYY')],
                locale: {
                    format: 'DD/MM/YYYY'
                },
                isInvalidDate: function(date) {
                    /*<![CDATA[*/

                    /*[# th:each="datum : ${daten}"]*/
                    var von = moment(/*[[${datum.startDate.toString()}]]*/, 'YYYY/MM/DD');
                    var bis = moment(/*[[${datum.endDate.toString()}]]*/, 'YYYY/MM/DD');
                    if (date.isBefore(moment(new Date())) || date.isSame(von) || date.isAfter(von) && date.isBefore(bis) || date.isSame(bis)) return true;
                    /*[/]*/

                    /*]]>*/
                    return false
                }
            })
        });
        function confirmation() {
            alert("Artikel ausgeliehen!");
        }
    </script>
    </body>
</form>
</html>
