<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ausleihenübersicht</title>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

</head>
<body>
<div th:each="ausleihe : ${ausleihen}" align="center" margin="5">
    <div th:if="${ausleihe.accepted==false}">
        <ul>
            <li th:text="${ausleihe.artikel.artikelName}">Artikelname</li>
            <li th:text="${ausleihe.ausleihender}">Ausleihender</li>
            <li th:text="${ausleihe.verfuegbarkeit.startDate}">Startdatum</li>
            <li th:text="${ausleihe.verfuegbarkeit.endDate}">Enddatum</li>
            <button name="button" onClick="confirmation(' + ${ausleihe} + ')">Annehmen</button>
            <button name="button" th:onClick="@{/remove/__${ausleihe.id}__}">Ablehnen</button>
        </ul>
    </div>
</div>
<div th:each="ausleihe : ${ausleihen}" align="center" margin="5">
    <div th:if=="${ausleihe.accepted}">
        <ul>
            <li th:text="${ausleihe.artikel.artikelName}">Artikelname</li>
            <li th:text="${ausleihe.ausleihender}">Ausleihender</li>
            <li th:text="${ausleihe.verfuegbarkeit.startDate}">Startdatum</li>
            <li th:text="${ausleihe.verfuegbarkeit.endDate}">Enddatum</li>
        </ul>
    </div>
</div>
<script>
    function confirmation(ausleihe){
        alert("Anfrage angenommen!");
        ausleihe.setAccepted(true);
        location.reload();
    }
</script>
</body>
</html>