<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutAngemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Ausleihenübersicht</title>
</head>

<body>
<h1 layout:fragment="titel">Offene Anfragen:</h1>
<div layout:fragment="inhalt">
	<p th:if="${#lists.isEmpty(ausleihen)}">Keine Anfragen vorhanden!</p>
	<div th:each="ausleihe : ${ausleihen}" th:if="${!ausleihe.accepted}">
		<p th:text="|Name des Artikels: ${ausleihe.artikel.artikelName}|">Artikelname</p>
		<p th:text="|Ausleihender: ${ausleihe.ausleihender}|">Ausleihender</p>
		<p th:text="|Startdatum: ${ausleihe.verfuegbarkeit.startDate}|">Startdatum</p>
		<p th:text="|Enddatum: ${ausleihe.verfuegbarkeit.endDate}|">Enddatum</p>
		<form method="post">
			<input type="hidden" th:value="${ausleihe.id}" name="id">
			<button class="btn btn-outline-success" type="submit" name="art" value="angenommen">Annehmen</button>
			<button class="btn btn-outline-danger" type="submit" name="art" value="abgelehnt">Ablehenen</button>
		</form>
	</div>
	<h1>Angenommene Anfragen:</h1>
	<p th:if="${#lists.isEmpty(ausleihen)}">Keine Anfragen vorhanden!</p>
	<div th:each="ausleihe : ${ausleihen}" th:if=="${ausleihe.accepted}">
		<p th:text="|Name des Artikels: ${ausleihe.artikel.artikelName}|">Artikelname</p>
		<p th:text="|Ausleihender: ${ausleihe.ausleihender}|">Ausleihender</p>
		<p th:text="|Startdatum: ${ausleihe.verfuegbarkeit.startDate}|">Startdatum</p>
		<p th:text="|Enddatum: ${ausleihe.verfuegbarkeit.endDate}|">Enddatum</p>
	</div>
</div>
</body>
</html>
