<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutAngemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Accountverwaltung</title>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/daterange.css" th:href="@{/css/daterange.css}"/>
</head>

<body>
<div layout:fragment="inhalt">
	<div class="card text-center">
		<h5 class="card-header">
			Für welchen Zeitraum möchten Sie den Artikel ausleihen?
		</h5>
		<div class="card-body" align="center">
			<div class="col-md-4">
				<form name="f" method="post">
					<p th:if="${error}" style="color: red">Sie haben nicht genügend Geld auf Ihrem ProPay-Konto!</p>
					<p th:if="${proPayError}" style="color: red">ProPay ist derzeit nicht erreichbar. Versuchen sie es
						später erneut.</p>
					<input type="text" class="form-control" name="daterange" min="#today"/> <br>
					<br>
					<button id="subBut" type="submit" class="btn btn-outline-success">Bestätigen</button>
				</form>
			</div>
		</div>
		<div class="card-footer text-muted">
			<a th:href="@{/detail/{id} (id=${id})}">
				<button name="button" class="btn btn-outline-danger">Abbrechen</button>
			</a>
		</div>

		<script th:inline="javascript">
            $(function () {
                $('input[name="daterange"]').daterangepicker({
					"autoApply": true,
                    minDate: 0,
                    locale: {
                        format: 'DD/MM/YYYY'
                    },
                    isInvalidDate: function (date) {
                        /*<![CDATA[*/
                        /*[# th:each="datum : ${daten}"]*/
                        var von = moment(/*[[${datum.startDate.toString()}]]*/, 'YYYY/MM/DD');
                        var bis = moment(/*[[${datum.endDate.toString()}]]*/, 'YYYY/MM/DD');
                        var gestern = new Date();
                        gestern.setDate(gestern.getDate() - 1);
                        if (date.isBefore(gestern) || date.isSame(von) || date.isAfter(von) && date.isBefore(bis) || date.isSame(bis)) return true;
                        /*[/]*/

                        var start = moment(/*[[${verfuegbar.getStartDate().toString()}]]*/, 'YYYY/MM/DD');
                        var ende = moment(/*[[${verfuegbar.getEndDate().toString()}]]*/, 'YYYY/MM/DD');
                        if (date.isAfter(ende) || date.isBefore(start)) return true;
                        /*]]>*/
                        return false;
                    }
                }, function (start, end, label) {
                    /*<![CDATA[*/
                    var prodVon = moment(/*[[${verfuegbar.getStartDate().toString()}]]*/, 'YYYY/MM/DD');
                    var prodBis = moment(/*[[${verfuegbar.getEndDate().toString()}]]*/, 'YYYY/MM/DD');
                    if (/*[[${#lists.isEmpty(ausleihen)}]]*/){
                        document.getElementById("subBut").disabled = (start.isBefore(prodVon) || end.isAfter(prodBis));
                    }
                    /*[# th:each="datum : ${daten}"]*/
                    var von = moment(/*[[${datum.startDate.toString()}]]*/, 'YYYY/MM/DD');
                    var bis = moment(/*[[${datum.endDate.toString()}]]*/, 'YYYY/MM/DD');

                    if ((start.isBefore(von) && end.isAfter(bis)) || start.isBefore(prodVon) || end.isAfter(prodBis)){
                        alert("Da Sie es ANSCHEINEND nicht verstanden haben, dass man keinen Zeitraum auswählen kann," +
                            " indem ein ROTER Bereich markiert ist, muss ich Ihnen LEIDER mitteilen, dass Sie d	en Kalender ein" +
                            " weiteres mal öffnen müssen und einen neuen Zeitraum wählen müssen. \n LG Ihr Leih24-Team");
					}
                    document.getElementById("subBut").disabled = ((start.isBefore(von) && end.isAfter(bis)) || start.isBefore(prodVon) || end.isAfter(prodBis));
                    /*[/]*/
                    /*]]>*/
                });
            });
            $(document).ready(function () {
                document.getElementById("subBut").disabled = true;
            });
		</script>
	</div>
</body>
</html>
