<html xmlns:th="http://www.thymeleaf.com">
<html lang="en">
<head>
	<title>Accountverwaltung</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<style>
		tr:hover {
			background-color: whitesmoke;
		}
		th, td {
			padding-right: 50px;
		}
	</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<a class="navbar-brand" href='/'>Leih24</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href='/'>Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href='/logout'>
					Logout
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link">Bitte geben sie die veränderten Daten an </a>
			</li>
			<hr>
		</ul>
	</div>
</nav>

<div align="center">
	<form method="post" th:object="${person}">
		<table align="center">
			<tr>
				<td>Benutzername:</td>
				<td><input type="text" th:field="*{benutzername}"></td>
			</tr>
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{name}"></td>
			</tr>
			<tr>
				<td>E-Mail:</td>
				<td><input type="text" th:field="*{email}"></td>
			</tr>
		</table>
		<button type="submit">Bestätigen</button>
	</form>
</div>
</body>
</html>