<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutAngemeldet}" xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title th:text="'Bewertungen über: ' +${person.benutzername}"></title>
</head>
<body>
<div layout:fragment="inhalt">

<a th:href="@{/account/{benutzername}/bewerten/verfassen (benutzername=${person.benutzername})}">
	<button class="btn btn-outline-dark">Bewertung verfassen</button>
</a>
	<hr>
	<p th:if="${#lists.isEmpty(bewertung)}">Keine Bewertungen vorhanden!</p>
	<div class="row">
		<tr th:each="a: ${bewertung}">
			<div class="col-sm-3">
				<div class="card mt-3 ml-4" style="width: 18rem; height: auto" align="center">
					<div class="card-body">
						<h6 class="card-title" th:text="${a.ueberschrift}"></h6>
						<hr>
						<dd th:text="'Bewertung: ' + ${a.text}"></dd>
						<hr>
						<dd th:text="'Bewertung verfasst von: ' + ${a.bewertungVon}"></dd>
					</div>
				</div>
			</div>
		</tr>
	</div>
</div>
</body>
</html>