<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Konfliktübersicht</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

</head>
<body>
<h2 align="center">Offene Konflikte</h2>
<div th:each="konflikt : ${konflikte}" align="center" margin="5">
    <p th:text="|Absender: ${konflikt.rueckgabe.verleiherName.benutzername}|"></p>
    <p th:text="|Verursacher: ${konflikt.rueckgabe.ausleihender.benutzername}|"></p>
    <p th:text="|beschreibung: ${konflikt.beschreibung}|"></p>
    <p th:text="|Artikel: ${konflikt.rueckgabe.artikel.artikelName}|"></p>
    <a th:href="@{/account/{benutzername}/nachricht/konflikte/{id} (id=${konflikt.id},benutzername=${name})}">
        <button name="button" class="btn btn-outline-success" onClick="confirmation()">Annehmen</button>
    </a>
</div>
<h2>In Bearbeitung</h2>
<div th:each="konflikt1 : ${konflikte1}" align="center" margin="5">
    <p th:text="|Absender: ${konflikt1.rueckgabe.verleiherName.benutzername} (${konflikt1.rueckgabe.verleiherName.email})|"></p>
    <p th:text="|Verursacher: ${konflikt1.rueckgabe.ausleihender.benutzername} (${konflikt1.rueckgabe.ausleihender.email})|"></p>
    <p th:text="|beschreibung: ${konflikt1.beschreibung}|"></p>
    <p th:text="|Artikel: ${konflikt1.rueckgabe.artikel.artikelName}|"></p>
    <a th:href="@{/account/{benutzername}/nachricht/konflikte/ausleihender{id} (id=${konflikt1.id},benutzername=${name})}">
        <button name="button" class="btn btn-outline-dark" onClick="confirmation1()">Ausleihender</button>
    </a>
    <a th:href="@{/account/{benutzername}/nachricht/konflikte/verleiher/{id} (id=${konflikt1.id},benutzername=${name})}">
        <button name="button" class="btn btn-outline-dark" onClick="confirmation2()">Verleiher</button>
    </a>
</div>
<script>
    function confirmation(){
        alert("Konfliktlösung übernommen!");
    }
    function confirmation1(){
        alert("Der Ausleihende erhält die Kaution zurück!");
    }
    function confirmation2(){
        alert("Der Verleiher behält die Kaution!");
    }
</script>
</body>
</html>