<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Konfliktübersicht</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href='/'>Leih24</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href='/'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/account/{benutzername} (benutzername=${name})}">
                    Profil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/logout'>
                    Logout
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">Konflikte</a>
            </li>
            <hr>
        </ul>
    </div>
</nav>
<h2 align="center">Offene Konflikte</h2>
<div th:each="konflikt : ${konflikte}" align="center" margin="5">
    <!--<p th:text="|Absender: ${konflikt.rueckgabe.verleiherName}|"></p>-->
    <p th:text="|Verursacher: ${konflikt.rueckgabe.ausleihender}|"></p>
    <p th:text="|beschreibung: ${konflikt.beschreibung}|"></p>
    <p th:text="|Artikel: ${konflikt.rueckgabe.artikel.artikelName}|"></p>
    <a th:href="@{/account/{benutzername}/nachricht/konflikte/{id} (id=${konflikt.id},benutzername=${name})}">
        <button name="button" class="btn btn-outline-success" onClick="confirmation()">Annehmen</button>
    </a>
</div>
<h2 align="center">In Bearbeitung</h2>
<div th:each="konflikt1 : ${konflikte1}" align="center" margin="5">
    <p th:text="|Absender: ${konflikt1.rueckgabe.verleiherName} (${konflikt1.absenderMail})|"></p>
    <p th:text="|Verursacher: ${konflikt1.rueckgabe.ausleihender} (${konflikt1.verursacherMail})|"></p>
    <p th:text="|beschreibung: ${konflikt1.beschreibung}|"></p>
    <p th:text="|Artikel: ${konflikt1.rueckgabe.artikel.artikelName}|"></p>
    <a th:href="@{/account/{benutzername}/nachricht/konflikte/ausleihender/{id} (id=${konflikt1.id},benutzername=${name})}">
        <button name="button" class="btn btn-outline-dark" onClick="confirmation1()">Ausleihender</button>
    </a>
    <a th:href="@{/account/{benutzername}/nachricht/konflikte/verleiher/{id} (id=${konflikt1.id},benutzername=${name})}">
        <button name="button" class="btn btn-outline-dark" onClick="confirmation2()">Verleiher</button>
    </a>
</div>
<script>
    function confirmation(){
        alert("Konfliktlösung übernommen!");
    }
    function confirmation1(){
        alert("Der Ausleihende erhält die Kaution zurück!");
    }
    function confirmation2(){
        alert("Der Verleiher behält die Kaution!");
    }
</script>
</body>
</html>