<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	<style>
		.profil-pic {
			border-radius: 50%;
		}

		.img-top {
			margin-top: 8px;
		}
	</style>
	<link rel="shortcut icon" type="image/x-icon"
		  href="https://raw.githubusercontent.com/hhu-propra2/abschlussprojekt-trawizards-of-java/master/src/main/resources/static/images/Dockerwal.png">
	<title layout:title-pattern="$CONTENT_TITLE">Leih24</title>
</head>

<body onload="gimmeTitle()">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href='/'>
		<img
			src="https://raw.githubusercontent.com/hhu-propra2/abschlussprojekt-trawizards-of-java/master/src/main/resources/static/images/Leih24.png"
			height="25"/>
	</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item" th:if="${aktuelleSeite != 'Startseite'}">
			<a class="nav-link" href='/'>Home</a>
		</li>
		<li class="nav-item active" th:if="${aktuelleSeite == 'Startseite'}">
			<a class="nav-link active" href='/'>Home</a>
		</li>
		<li class="nav-item" th:if="${!(angemeldet)} and ${aktuelleSeite != 'Anmeldung'}">
			<a class="nav-link" href='/anmeldung'>Anmelden</a>
		</li>
		<li class="nav-item active" th:if="${!(angemeldet)} and ${aktuelleSeite == 'Anmeldung'}">
			<a class="nav-link active" href='/anmeldung'>Anmelden</a>
		</li>
		<li class="nav.item" th:if="${!(angemeldet)} and ${aktuelleSeite != 'Registrierung'}">
			<a class="nav-link" th:href="@{/registrierung}">Registrieren</a>
		</li>
		<li class="nav.item active" th:if="${!(angemeldet)} and ${aktuelleSeite == 'Registrierung'}">
			<a class="nav-link active" th:href="@{/registrierung}">Registrieren</a>
		</li>
		<li class="nav-item dropdown" th:if="${angemeldet}">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
			   aria-haspopup="true" aria-expanded="false">
				<img class="profil-pic"
					 src="https://raw.githubusercontent.com/hhu-propra2/abschlussprojekt-trawizards-of-java/master/src/main/resources/static/images/emptyPic.png"
					 height="25"/>
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" th:href="@{/account/{benutzername} (benutzername=${name})}">Profil</a>
				<a class="dropdown-item" th:href="@{/account/{benutzername}/select (benutzername=${name})}">Artikel
					erstellen</a>
				<a class="dropdown-item" th:href="@{/account/{benutzername}/nachrichten (benutzername=${name})}">Nachrichten
					ansehen</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item disabled" th:text="'Angemeldet als '+${name}"></a>
			</div>
		</li>
		<li class="nav-item" th:if="${angemeldet}">
			<img id="post" class="messages img-top" src="../static/images/post.png" th:src="@{/images/post.png}"
			 height="25" width="auto" onmouseover="onHover();" onmouseout="offHover();" onclick="openchat()"/>
		</li>
		<li class="nav-item" th:if="${angemeldet}">
			<a class="nav-link" href='/logout'>Abmelden</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link active" href="" id="titel"
			   th:if="${aktuelleSeite == 'Artikelansicht'} or ${aktuelleSeite == 'Suche'} or ${aktuelleSeite == 'Profil'}">Aktuelle
				Seite</a>
		</li>
	</ul>
	<form method="get" action="/search" class="form-inline">
		<input class="form-control mr-sm-2" type="search" placeholder="Suche" th:value="${query}" name="q"/>
		<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Suche</button>
	</form>
</nav>

<div class="col-md-12" align="center">
	<h1 layout:fragment="titel"></h1>
	<div layout:fragment="inhalt"></div>
</div>

<script th:inline="javascript">
    function openchat() {
        /*<![CDATA[*/
        var benutzername = /*[[${name}]]*/ 'default';
        window.open("/messenger/" + benutzername, "_blank", "toolbar=0,location=0,directories=0,scrollbars=0,resizable=0,top=400,left=500,width=425,height=500");
        /*]]>*/
    }

    function gimmeTitle() {
        document.getElementById("titel").innerHTML = document.title;
    }

    function onHover() {
        $("#post").attr('src', '/images/post_hover.png');
    }

    function offHover() {
        $("#post").attr('src', '/images/post.png');
    }
</script>
</body>
</html>