<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutAngemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Nachrichtenübersicht</title>
</head>

<body>
<div layout:fragment="inhalt">
	<div class="card text-center">
		<h5 class="card-header">
			Postfach
			<a th:if="${admin}" th:href="@{/admin/konflikte}">
				<button class="btn btn-outline-dark ml-4">Konflikte</button>
			</a>
		</h5>
		<div class="card-body">
			<p th:if="${#lists.isEmpty(messages)}">Keine Nachrichten vorhanden!</p>
				<div th:each="message : ${messages}">
					<li class="list-group-item">
					<p th:text="|Absender: ${message.absender}|">Absender</p>
					<p th:text="|Nachricht: ${message.nachricht}|">Nachricht</p>
					<form method="post">
						<button class="btn btn-outline-danger" type="submit" name="id" th:value="${message.id}">Löschen</button>
					</form>
				</div>
			</li>
		</div>
	</div>
</div>
</body>
</html>