<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutAngemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Nachrichtenübersicht</title>
</head>

<body>
<h1 layout:fragment="titel">Postfach</h1>
<div layout:fragment="inhalt">
	<a th:if="${admin}" th:href="@{/admin/konflikte}">
		<button class="btn btn-outline-dark">Konflikte</button>
	</a>
	<p th:if="${#lists.isEmpty(messages)}">Keine Nachrichten vorhanden!</p>
	<div th:each="message : ${messages}">
		<p th:text="|Absender: ${message.absender}|">Absender</p>
		<p th:text="|Nachricht: ${message.nachricht}|">Nachricht</p>
		<a th:href="@{/account/{benutzername}/nachricht/delete/{id} (id=${message.id},benutzername=${name})}">
			<button name="button" class="btn btn-outline-danger">Löschen</button>
		</a>
	</div>
</div>
</body>
</html>
