<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutUnangemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title th:text="'Profil von ' +${person.benutzername}"></title>
	<link rel="stylesheet" type="text/css" href="../static/css/design.css" th:href="@{/css/design.css}"/>

</head>

<body onload="callAlert(), neueNachricht(), gimmeTitle()">
<h1 layout:fragment="titel" th:text="'Profil von ' +${person.benutzername}"></h1>
<div layout:fragment="inhalt">
	<div class="alert alert-info" role="alert" id="nachricht">
		Sie haben Nachrichten in Ihrem Postfach!
	</div>
	<div id="topButton" th:if="${isUser}">
		<a th:href="@{/account/{benutzername}/bearbeitung (benutzername=${person.benutzername})}">
			<button type="button" class="btn btn-outline-dark">Profil bearbeiten</button>
		</a>
		<a th:href="@{/account/{benutzername}/select (benutzername=${person.benutzername})}">
			<button type="button" class="btn btn-outline-dark">Neuen Artikel erstellen</button>
		</a>
		<a th:href="@{/account/{benutzername}/anfragenuebersicht (benutzername=${person.benutzername})}">
			<button type="button" class="btn btn-outline-dark">Anfragen ansehen</button>
		</a>
		<a th:href="@{/account/{benutzername}/ausgelieheneuebersicht (benutzername=${person.benutzername})}">
			<button type="button" class="btn btn-outline-dark">Ausgeliehene Artikel ansehen</button>
		</a>
		<a th:href="@{/account/{benutzername}/zurueckgegebeneartikel (benutzername=${person.benutzername})}">
			<button type="button" class="btn btn-outline-dark">Rückgaben ansehen</button>
		</a>
		<a th:href="@{/account/{benutzername}/nachrichten (benutzername=${person.benutzername})}">
			<button type="button" class="btn btn-outline-dark">Nachrichten ansehen</button>
		</a>
		<a th:href="@{/account/{benutzername}/transaktionUebersicht (benutzername=${person.benutzername})}">
			<button type="button" class="btn btn-outline-dark">Transaktionenübersicht</button>
		</a>
		<div class="col-md-4" th:if="${!proPayError}">
			<p th:text="'Ihr aktueller ProPay-Kontostand: '+${proPay.amount}"></p>
			<p th:if="${! #lists.isEmpty(proPay.reservations)}">Ihre aktuellen Reservierungen:</p>
			<ul th:each="reservierung : ${proPay.reservations}">
				<li th:text="${reservierung.amount}"></li>
			</ul>
			<p>Hier können Sie Ihr Konto aufladen:</p>
			<form method="post">
				<input type="number" name="amount" value="0" min="0">
				<button type=submit class="btn btn-outline-success">Bestätigen</button>
			</form>
		</div>
		<div th:if="${proPayError}" class="alert alert-danger" role="alert">
			ProPay ist zurzeit nicht erreichbar. Versuchen Sie es später nochmal.
		</div>
	</div>
	<div th:unless="${isUser}">
		<button class="btn btn-outline-dark" onclick="openchatin()">Chatten</button>
	</div>
	<hr>
	<div class="row">
		<h2>Artikel zum Verleihen</h2>
		<div class="col-md-12" align="center">
			<p th:if="${#lists.isEmpty(artikel)}">Keine Artikel vorhanden!</p>
		</div>
		<tr th:each="a: ${artikel}">
			<div class="col-sm-3">
				<div class="card mt-3 ml-4" style="width: 18rem; height: 21em" align="center">
					<img class="card-img-top"
						 src="https://raw.githubusercontent.com/hhu-propra2/abschlussprojekt-trawizards-of-java/master/src/main/resources/static/images/Leih24.png"
						 alt="Bild fehlt">
					<div class="card-body">
						<h6 class="card-title" th:text="'Artikel: ' +${a.artikelName}"></h6>
						<div class="card-text">
							<div class="toptext">
								<div class="card-deck ml-5">
									<dl class="ml-4">
										<dd th:text="'Verleiher: ' +${a.verleiherBenutzername}"></dd>
									</dl>
								</div>
							</div>

							<dd th:text="'Preis(pro Tag): ' +${a.preis} + '&euro;'"></dd>
							<dd th:text="'Kaution: ' +${a.kaution} + '&euro;'"></dd>
						</div>
						<a th:href="@{/detail/{id} (id=${a.id})}">
							<button type="button" class="btn btn-outline-dark bottomDistance">Details</button>
						</a>
						<div th:if="${isUser}">
							<a th:href="@{/account/{benutzername}/aendereArtikel/{id} (id=${a.id}, benutzername=${name})}">
								<button type="button" class="btn btn-outline-dark">Artikel bearbeiten</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</tr>
	</div>
	<div class="row">
		<h2>Artikel zum Verkauf</h2>
		<div class="col-md-12" align="center">
			<p th:if="${#lists.isEmpty(artikelKaufen)}">Keine Artikel vorhanden!</p>
		</div>
		<tr th:each="a: ${artikelKaufen}">
			<div class="col-sm-3">
				<div class="card mt-3 ml-4" style="width: 18rem; height: 21em" align="center">
					<img class="card-img-top"
						 src="https://raw.githubusercontent.com/hhu-propra2/abschlussprojekt-trawizards-of-java/master/src/main/resources/static/images/Leih24.png"
						 alt="Bild fehlt">
					<div class="card-body">
						<h6 class="card-title" th:text="'Artikel: ' +${a.artikelName}"></h6>
						<div class="card-text">
							<div class="toptext">
								<div class="card-deck ml-5">
									<dl class="ml-4">
										<dd th:text="'Verkäufer: ' +${a.verkaeufer}"></dd>
									</dl>
								</div>
							</div>

							<dd th:text="'Preis: ' +${a.preis} + '&euro;'"></dd>
						</div>
						<a th:href="@{/detail/{id} (id=${a.id})}">
							<button type="button" class="btn btn-outline-dark bottomDistance">Details</button>
						</a>
						<div th:if="${isUser}">
							<a th:href="@{/account/{benutzername}/aendereArtikel/{id} (id=${a.id}, benutzername=${name})}">
								<button type="button" class="btn btn-outline-dark">Artikel bearbeiten</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</tr>
	</div>


	<script th:inline="javascript">
		function openchatin() {
			/*<![CDATA[*/
			var benutzername = /*[[${name}]]*/ 'default';
			var empfaenger = /*[[${empfaenger}]]*/ 'default';
					window.open("http://localhost:8080/messenger/" + benutzername + "/" + empfaenger + "/start","_blank", "toolbar=0,location=0,directories=0,scrollbars=0,resizable=0,top=400,left=500,width=425,height=500");
			/*]]>*/
		}
        function callAlert() {

            var message = /*[[${message}]]*/ 'default';
            var artikelName = /*[[${artikelName}]]*/ 'default';
            var verleiherName = /*[[${verleiherName}]]*/ 'default';

            if (message === 'true') {
                alert('Bitte ' + artikelName + ' an ' + verleiherName + ' zurückgeben!');
            }

        }

        function neueNachricht() {

            var nachricht = /*[[${nachricht}]]*/ 'default';
			var textfeld = document.getElementById("nachricht");
            textfeld.style.display = "none";

            if (nachricht === 'true') {
                textfeld.style.display = "block";
            }

        }

	</script>
</div>
</body>
</html>
