<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutUnangemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Neuen Benutzer erstellen</title>
</head>

<body>
<div layout:fragment="inhalt">

	<div class="card text-center">
		<h5 class="card-header">
			Bitte geben Sie Ihre Daten ein:
		</h5>
		<div class="card-body">
			<div th:if="${error}" class="alert alert-danger" role="alert">
				Dieser Benutzername existeriert bereits!
			</div>
			<form method="post" th:object="${person}">
				<div class="col-md-12" align="center">
					<table>
						<tr>
							<td>Benutzername:</td>
							<td><input type="text" class="form-control" th:field="*{benutzername}" required></td>
						</tr>
						<tr>
							<td>Name:</td>
							<td><input type="text" class="form-control" th:field="*{name}"></td>
						</tr>
						<tr>
							<td>E-Mail:</td>
							<td><input type="text" class="form-control" th:field="*{email}" required></td>
						</tr>
						<tr>
							<td>Passwort:</td>
							<td><input type="password" class="form-control" th:field="*{passwort}" required></td>
						</tr>
					</table>
				<br>
				<button type="submit" class="btn btn-outline-success">Registrieren</button>
			</form>
		</div>
		</div>
		</div>
	</div>
</body>
</html>