<html xmlns:th="http://www.thymeleaf.com">
<html lang="en">
<head>
    <title>Neuen Benutzer erstellen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        tr:hover {
            background-color: whitesmoke;
        }
        th, td {
            padding-right: 50px;
        }
    </style>
</head>
<body>
<div align="center">
    <h1>Bitte geben Sie Ihre Daten ein!</h1>
    <form method="post" th:object="${person}">
        <table>
            <tr>
                <td>Benutzername:</td>
                <td><input type="text" th:field="*{benutzername}"></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>E-Mail:</td>
                <td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>Passwort:</td>
                <td><input type="text" th:field="*{passwort}"></td>
            </tr>
        </table>
        <button type="submit">Registrieren</button>
    </form>
</div>
</body>
</html>