<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutAngemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Angebotstyp auswählen</title>
</head>

<body>
<div class="group" layout:fragment="inhalt">
	<form method="post">
		<label class="col-sm-2 col-form-label mr-5">Verleihen oder verkaufen:</label>
		<select th:name="select">
			<option th:value="Ausleihen" th:text="Ausleihen" th:name="select"></option>
			<option th:value="Verkaufen" th:text="Verkaufen" th:name="select"></option>
		</select>
		<input type="submit" value="Bestätigen" class="btn btn-outline-success"/>
	</form>
</div>
</body>
</html>