<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutUnangemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title th:text="'Suchergebnis: ' +${query}"></title>
</head>

<body>
<div layout:fragment="inhalt">
	<div class="row">
		<tr th:each="a: ${artikel}">
			<div class="col-sm-3">
				<div class="card mt-3 ml-4" style="width: 18rem; height: 19rem" align="center">
					<img class="card-img-top"
						 src="https://raw.githubusercontent.com/hhu-propra2/abschlussprojekt-trawizards-of-java/master/src/main/resources/static/images/Leih24.png"
						 alt="Bild fehlt">
					<div class="card-body">
						<h6 class="card-title" th:text="'Artikel: ' +${a.artikelName}"></h6>
						<div class="card-text">
							<div class="toptext">
								<div class="card-deck ml-5">
									<p>Verleihername:&nbsp;</p>
									<a th:href="@{/account/{benutzername} (benutzername=${a.verleiherBenutzername})}">
										<p th:text="${a.verleiherBenutzername}"></p>
									</a>
								</div>
							</div>

							<dd th:text="'Preis(pro Tag): ' +${a.preis} + '&euro;'"></dd>
							<dd th:text="'Kaution: ' +${a.kaution} + '&euro;'"></dd>
						</div>
						<a th:href="@{/detail/{id} (id=${a.id})}">
							<button type="button" class="btn btn-outline-dark">Details</button>
						</a>
					</div>
				</div>
			</div>
		</tr>
	</div>
</div>
</body>
</html>