<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutAngemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Transaktionenübersicht</title>
</head>

<body>
<h1 layout:fragment="titel">Ihre bisherigen Transkationen bei Leih24:</h1>
<div layout:fragment="inhalt">
	<h3>Verliehen von mir:</h3>
	<p th:if="${#lists.isEmpty(artikel)}">Sie haben noch keine Artikel verliehen!</p>
	<tr th:each="a: ${artikel}">
		<dl class="dl-horizontal">
			<dt th:text="'Artikel: ' +${a.artikel.artikelName}"></dt>
			<p th:text="'Ausgeliehen an: ' +${a.ausleihender}"></p>
			<p th:text="'Beschreibung: ' +${a.artikel.beschreibung}"></p>
			<p th:text="'Von: ' +${a.verfuegbarkeit.startDate}"></p>
			<p th:text="'Bis: ' +${a.verfuegbarkeit.endDate}"></p>
			<hr>
		</dl>
	</tr>
	<div>
		<h3>Habe ich ausgeliehen:</h3>
		<p th:if="${#lists.isEmpty(artikelAusgeliehen)}">Sie haben noch keine Artikel ausgeliehene!</p>
		<tr th:each="a: ${artikelAusgeliehen}">
			<dl class="dl-horizontal">
				<dt th:text="'Artikel: ' +${a.artikel.artikelName}"></dt>
				<p th:text="'Verliehen von: ' +${a.verleiherName}"></p>
				<p th:text="'Beschreibung: ' +${a.artikel.beschreibung}"></p>
				<p th:text="'Von: ' +${a.verfuegbarkeit.startDate}"></p>
				<p th:text="'Bis: ' +${a.verfuegbarkeit.endDate}"></p>
				<hr>
			</dl>
		</tr>
	</div>
</div>
</body>
</html>