<!DOCTYPE html>
<html lang="de" layout:decorate="~{layoutAngemeldet}" xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>Rückgaben</title>
</head>

<body>
<h1 layout:fragment="titel">Zurückgegebene Artikel:</h1>
<div layout:fragment="inhalt">
	<p th:if="${#lists.isEmpty(ausleihen)}">Es wurden keine Artikel zurückgegeben!</p>
	<div th:each="ausleihe : ${ausleihen}" th:if="${!ausleihe.angenommen}">
		<p th:text="|Name des Artikels: ${ausleihe.artikel.artikelName}|">Artikelname</p>
		<p th:text="|Ausleihender: ${ausleihe.ausleihender}|">Ausleihender</p>
		<p th:text="|Startdatum: ${ausleihe.verfuegbarkeit.startDate}|">Startdatum</p>
		<p th:text="|Enddatum: ${ausleihe.verfuegbarkeit.endDate}|">Enddatum</p>
		<form method="post">
			<button class="btn btn-outline-success" type="submit" name="id" th:value="${ausleihe.id}">Akzeptieren</button>
		</form>
		<a th:href="@{/account/{benutzername}/konflikt/send/{id} (id=${ausleihe.id},benutzername=${name})}">
			<button name="button" class="btn btn-outline-danger">Mangelhafter Zustand</button>
		</a>
	</div>
</div>
</body>
</html>